*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}
body{
  /* background-color: rgb(104, 86, 86); */
}
.notes{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  
}
.note{
  min-width: 220px;
  min-height: 250px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  row-gap: 5px;
  align-items: center;
  border-radius: 5px;
}
.note img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
}